Repository russianvoodoo/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

Add new file
  backend/test
Due: backend

Delete test
  backend/test
Due: backend

Update .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

added deploy.sh
  backend/deploy.sh
Due: backend

Update deploy.sh
  backend/deploy.sh
Due: backend

Add new file
  backend/sausage-store-backend.service
Due: backend

Update sausage-store-backend.service
  backend/sausage-store-backend.service
Due: backend

Update .gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend

Add new file
  frontend/deploy.sh
Due: frontend

Add new file
  frontend/sausage-store-frontend.service
Due: frontend

Update deploy.sh
  frontend/deploy.sh
Due: frontend

Update sausage-store-frontend.service
  frontend/sausage-store-frontend.service
Due: frontend

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
