Repository russianvoodoo/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

Update backend_deploy.sh
  backend/backend_deploy.sh
Due: backend

Update .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

Extracted reports to the new microservice
  backend-report/.dockerignore
  backend-report/Dockerfile
  backend-report/pom.xml
  backend-report/src/main/java/com/yandex/practicum/devops/MongoSkipSSLConfig.java
  backend-report/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend-report/src/main/java/com/yandex/practicum/devops/TrustAllCerts.java
  backend-report/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend-report/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend-report/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend-report/src/main/resources/application.properties
  backend-report/src/main/resources/logback.xml
  backend-report/src/test/java/com/yandex/practicum/devops/SausageApplicationIntegrationTest.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/test/java/com/yandex/practicum/devops/task/ReportGeneratorTaskTest.java
Due: backend

Update application.properties
  backend-report/src/main/resources/application.properties
Due: none

added initial docker-compose
  docker-compose.yml
Due: none

Update docker-compose.yml
  docker-compose.yml
Due: none

Modified Dockerfile and compose file for local compose
  .gitignore
  backend/Dockerfile
  docker-compose.yml
Due: backend

compose deploy
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
  backend-report/Dockerfile
  backend-report/backend_report_deploy.sh
  backend/Dockerfile
  backend/src/main/resources/application.properties
  docker-compose.yml
  frontend/.gitlab-ci.yml
  frontend/frontend_deploy.sh
  vault.json
Due: frontend, backend

added CISHA and sonar backend report fixed deploy shell fixed
  backend-report/.gitlab-ci.yml
  backend-report/backend_report_deploy.sh
  backend/.gitlab-ci.yml
  backend/backend_deploy.sh
  frontend/.gitlab-ci.yml
  frontend/frontend_deploy.sh
Due: frontend, backend

fixed-commented src test
  backend-report/src/test/java/com/yandex/practicum/devops/SausageApplicationIntegrationTest.java
Due: none

disabled sonar and fixed src test file
  backend-report/.gitlab-ci.yml
  backend-report/src/test/java/com/yandex/practicum/devops/SausageApplicationIntegrationTest.java
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

nginx dockerfile and the rest heeheehee
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.tmpl
Due: frontend

Added pom dependenies for health check + healthcheck in dockerfile and dockercompose
  backend/Dockerfile
  backend/pom.xml
  docker-compose.yml
Due: backend

fixed compose version to 3.4
  docker-compose.yml
Due: none

disabled build in compose
  docker-compose.yml
Due: none

disabled build in compose again and for all
  docker-compose.yml
Due: none

gree/blue deploy logic
  backend/backend_deploy.sh
  docker-compose.yml
Due: backend

Update vault.json
  vault.json
Due: none

Prometheus metrics added
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/service/BusinessMetricsService.java
  backend/src/main/java/com/yandex/practicum/devops/service/OrderServiceImpl.java
  backend/src/main/resources/application.properties
Due: backend

Update Dockerfile
  frontend/Dockerfile
Due: frontend

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
