Repository russianvoodoo/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

Update .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend

Add new file
  infra.txt
Due: none

Update infra.txt
  infra.txt
Due: none

Changed DB to PostgreSQL
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/model/OrderProduct.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: backend

Update pom.xml
  backend/pom.xml
Due: backend

Update sausage-store-backend.service
  backend/sausage-store-backend.service
Due: backend

Update README.md
  README.md
Due: none

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
